# @file Kconfig
# @brief Kconfig for Next Generation Knox Security Driver
# Copyright (c) 2019, Samsung Electronics Corporation. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 and
# only version 2 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

config NGKSM
	bool "Next Generation Knox Security Monitor feature enable"
	default n
	help
	This enables knox securty monitor driver

config NGKPAD
	bool "Next Generation Knox Peripheral Access Detection feature enable"
	depends on NGKSM
	default n
	help
	This enables Next Generation Knox Peripheral Access Detection

